# JVM Configuration for ElasticSearch
# ===================================
# See <https://github.com/elasticsearch/elasticsearch/blob/master/bin/elasticsearch.in.sh>
#

ES_HOME='<%= "#{node[:elasticsearch][:home_dir]}" %>'
ES_CLASSPATH=$ES_HOME/lib/*
ES_HEAP_SIZE=<%= node[:elasticsearch][:allocated_memory] %>

ES_JAVA_OPTS="
  -server
  -Djava.net.preferIPv4Stack=true
  -Xms<%= node[:elasticsearch][:allocated_memory] %>
  -Xmx<%= node[:elasticsearch][:allocated_memory] %>
  -Xss<%= node[:elasticsearch][:thread_stack_size] %>
  -XX:+UseParNewGC
  -XX:+UseConcMarkSweepGC
  -XX:CMSInitiatingOccupancyFraction=75
  -XX:+UseCMSInitiatingOccupancyOnly
  -XX:+HeapDumpOnOutOfMemoryError
<% if node[:elasticsearch][:jmx] %>
  -Dcom.sun.management.jmxremote.ssl=false
  -Dcom.sun.management.jmxremote.authenticate=false
  -Dcom.sun.management.jmxremote.port=3333
  -Djava.rmi.server.hostname=<%= "#{node[:ipaddress]}" %>
<% end %>
"
